body{
    background-color: #f8f8f8;
}
header{
    background-color: #fff;
    box-shadow: 3px 3px 15px -7px rgba(0,0,0,.27);
    height: 70px;
    padding: 0 20vw;
    display: flex;
    align-items: center;
    input[type="search"]{
        border: none;
        border:1px solid darkgrey;
        padding: 10px;
        border-radius: 15px;
        margin-right: 5px;
        outline: none;
    }
    input[type="submit"]{
        padding: 10px;
        border-radius: 15px;
        background-color: #7f53ac;
        color: white;
        outline: none;
background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);

        border: none;
    }
}
.photosContainer{
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;

    .photoItem{
        box-shadow: 3px 3px 15px -7px rgba(0,0,0,.27);
        border-radius: 15px;
        
        margin:0 10px 20px 10px;
        max-width: 500px;
        overflow: hidden;
        background: white;
        p{
            padding: 5px 20px;
            white-space: pre-wrap;
        }
    }
}